<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <%template src="_header.html"%>
</head>
<body>
    <%template src="_head.html"%>

    <div class="content">
        <div class="main-pad-7">
            <div class="main-pad-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="subnav">
                                <div class="biaoti"><span>联系我们</span></div>
                                <ul class="list-unstyled clearfix">
                                    <li class="active"><a href="#" class="tr overflow">联系我们</a></li>

                                </ul>
                                <%template src="_lxwm.html"%>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="title-5 clearfix hidden-xs hidden-sm">
                                <div class="biaoti pull-left">联系我们</div>
                            </div>
                            <div class="text-5">
                                <%=get_article_content("contact")%>
                            </div>
                            <div class="picture-8">
                                <div class="map sizeCover">
                                    <%template src="_map.html"%>
                                </div>
                            </div>
                            <%template src="_red.html"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%template src="_footer.html"%>
</body>
</html>