<footer>
	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="biaoti clearfix">
						<div class="cn pull-left">联系我们</div>
						<div class="xiexian pull-left">/</div>
						<div class="en pull-left">Contact us</div>
					</div>
					<div class="clearfix">
						<div class="contact pull-left">
							<div class="imgbox pull-left wow animate fadeIn">
								<span class="sizeCover" style="background-image: url(images/footer_contact_img.jpg)"></span>
							</div>
							<div class="textbox pull-left">
								<ul class="list-unstyled no-margin clearfix">
									<li class="clearfix">
										<div class="icon pull-left"><img src="images/footer_contact_dianhua.png" alt=""></div>
										<div class="mc pull-left">电   话：180-18851256</div>
									</li>
									<li class="clearfix">
										<div class="icon pull-left"><img src="images/footer_contact_chuanzhen.png" alt=""></div>
										<div class="mc pull-left">传　 真：021-88866866</div>
									</li>
									<li class="clearfix">
										<div class="icon pull-left"><img src="images/footer_contact_youxiang.png" alt=""></div>
										<div class="mc pull-left">邮   箱：www.xike@163.com</div>
									</li>
									<li class="clearfix">
										<div class="icon pull-left"><img src="images/footer_contact_dizhi.png" alt=""></div>
										<div class="mc pull-left">地   址：上海市松江区广富林路697弄21号昂立大厦</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="map pull-right">
							<div class="imgbox sizeCover" style="background-image: url(images/footer_map.jpg)">
								<!-- 此处放地图插件，宽高100%，去掉sizeCover和style -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="center text-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="menu">
						<ul class="list-unstyled no-margin clearfix">
							<li><a href="#" class="tr">网站首页</a></li>
							<li><a href="#" class="tr">公司简介</a></li>
							<li><a href="#" class="tr">产品中心</a></li>
							<li><a href="#" class="tr">设备展示</a></li>
							<li><a href="#" class="tr">新闻资讯</a></li>
							<li><a href="#" class="tr">技术资料</a></li>
							<li><a href="#" class="tr">联系我们</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="bot text-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					版权所有 © 2019  上海矽克密封科技有限公司   沪ICP备00000000号    all rights reserved.
				</div>
			</div>
		</div>	
	</div>
</footer>

<div class="tabBar visible-xs">
	<ul class="list-unstyled text-center no-margin clearfix">
		<li class="pull-left">
			<a href="#">
				<div class="icon"><img src="images/tabBar_dianhua.png" alt=""></div>
				<div class="mc">电话</div>
			</a>
		</li>
		<li class="pull-left">
			<a href="#">
				<div class="icon"><img src="images/tabBar_duanxin.png" alt=""></div>
				<div class="mc">短信</div>
			</a>
		</li>
		<li class="pull-left">
			<a>
				<div class="icon"><img src="images/tabBar_erweima.png" alt=""></div>
				<div class="mc">微信</div>
			</a>
			<div class="tanchuang">
				<div class="imgbox"><img src="images/ewm.png" alt=""></div>
			</div>
		</li>
	</ul>
</div>

<script src="js/bootstrap.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/style.js"></script>