<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>上海矽克密封科技有限公司</webname>
  <weburl>http://www.x.com</weburl>
  <webcompany>021-88866866</webcompany>
  <webaddress>上海市松江区广富林路697弄21号昂立大厦</webaddress>
  <webtel>18018851256</webtel>
  <webfax>31.06133</webfax>
  <webqq1>0000000</webqq1>
  <webqq2>121.251322</webqq2>
  <webewm1>/upload/201906/13/201906130918573508.jpg</webewm1>
  <webewm2 />
  <webmail>www.xike@163.com</webmail>
  <webcrod>沪备案：0000</webcrod>
  <webpath>/</webpath>
  <webmanagepath>qiju123</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>aspx</staticextension>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>NOLL</webcountcode>
  <smsapiurl />
  <smsusername />
  <smspassword>5a14919c41244e250562fe62c8d67428</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>456</emailport>
  <emailfrom>884087601@qq.com</emailfrom>
  <emailusername>884087601@qq.com</emailusername>
  <emailpassword>63909078B937F0D8ABB613921F1A7203BC9CE6310DA9AA6D</emailpassword>
  <emailnickname>系统信息</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileremote>1</fileremote>
  <fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt,mp4</fileextension>
  <videoextension />
  <attachsize>0</attachsize>
  <videosize>0</videosize>
  <imgsize>0</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <thumbnailmode>Cut</thumbnailmode>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic />
  <watermarktransparency>5</watermarktransparency>
  <watermarktext />
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>qj_</sysdatabaseprefix>
  <sysencryptstring>QJcms</sysencryptstring>
  <memberstatus>1</memberstatus>
  <invitedstatus>0</invitedstatus>
  <membergroupstatus>0</membergroupstatus>
  <memberpointstatus>0</memberpointstatus>
  <memberlevelstatus>0</memberlevelstatus>
  <memberamountstatus>0</memberamountstatus>
  <memberavatarstatus>0</memberavatarstatus>
  <memberoauthstatus>0</memberoauthstatus>
  <commentstatus>0</commentstatus>
  <shoppingstatus>0</shoppingstatus>
  <tracking>0</tracking>
  <ordernotice>0</ordernotice>
  <ordertemplates>0</ordertemplates>
  <paymentset>0</paymentset>
  <uploadswitch>1</uploadswitch>
  <upattach>1</upattach>
  <upvideo>1</upvideo>
  <upimg>1</upimg>
  <upthumb>0</upthumb>
  <upwater>0</upwater>
  <mailstatus>1</mailstatus>
  <smsstatus>0</smsstatus>
  <weixin>0</weixin>
  <brandstatus>0</brandstatus>
  <skustatus>0</skustatus>
  <attributes>0</attributes>
  <tags>0</tags>
  <rolestatus>0</rolestatus>
  <htmlstatus>0</htmlstatus>
  <dbback>0</dbback>
  <scriptcode>0</scriptcode>
  <pageseo>0</pageseo>
  <flink>0</flink>
  <feedback>0</feedback>
  <filemanage>0</filemanage>
  <hotkey>0</hotkey>
  <advert>0</advert>
  <onlineser>0</onlineser>
</siteconfig>