<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="QJcms.Web.UI.Page.index" templet="index.html" />
  <rewrite name="search" type="other" page="search.aspx" inherit="QJcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="QJcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="news" type="list" page="news.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="news.html" channel="news" pagesize="4">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_lb" type="list" page="news_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="news.html" channel="news" pagesize="4">
    <item path="news_lb-{0}.aspx" pattern="news_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="news_lb-{0}-{1}.aspx" pattern="news_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news-show" type="detail" page="news-show.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="news-show.html" channel="news">
    <item path="news-show-{0}.aspx" pattern="news-show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="about" type="detail" page="about.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="about.html" channel="about">
    <item path="about-{0}.aspx" pattern="about-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="contact" type="list" page="contact.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="contact.html" channel="danye">
    <item path="contact.aspx" pattern="contact.aspx" />
  </rewrite>
  <rewrite name="message" type="list" page="message.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="message.html" channel="danye">
    <item path="message.aspx" pattern="message.aspx" />
  </rewrite>
  <rewrite name="service" type="list" page="service.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="service.html" channel="danye">
    <item path="service.aspx" pattern="service.aspx" />
  </rewrite>
  <rewrite name="product" type="list" page="product.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="product.html" channel="product" pagesize="6">
    <item path="product.aspx" pattern="product.aspx" />
  </rewrite>
  <rewrite name="product_lb" type="list" page="product_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="product.html" channel="product" pagesize="6">
    <item path="product_lb-{0}.aspx" pattern="product_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="product_lb-{0}-{1}.aspx" pattern="product_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="product-show" type="detail" page="product-show.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="product-show.html" channel="product">
    <item path="product-show-{0}.aspx" pattern="product-show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case" type="list" page="case.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="case.html" channel="case" pagesize="6">
    <item path="case.aspx" pattern="case.aspx" />
  </rewrite>
  <rewrite name="case_lb" type="list" page="case_lb.aspx" inherit="QJcms.Web.UI.Page.article_list" templet="case.html" channel="case" pagesize="6">
    <item path="case_lb-{0}.aspx" pattern="case_lb-(\d+).aspx" querystring="category_id=$1" />
    <item path="case_lb-{0}-{1}.aspx" pattern="case_lb-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="case-show" type="detail" page="case-show.aspx" inherit="QJcms.Web.UI.Page.article_show" templet="case-show.html" channel="case">
    <item path="case-show-{0}.aspx" pattern="case-show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>